@font-face{
   font-family:"Roboto";
   src: url(../fonts/Roboto/Roboto-Black.ttf) format('truetype');
   font-weight:normal;
   font-style: normal;
}
@font-face{
   font-family:"MyriadProRegular";
   src: url(../fonts/MyriadProRegular/MyriadProRegular.ttf) format('truetype');
   font-weight:normal;
   font-style: normal;
}
.nav{
	text-align: center;
}
li{
	display: inline;
}
a{
	color:#16A085;
	font-family:"Roboto", sans-serif;
	letter-spacing: 2px;
	font-size:18px;
	text-decoration: none;
	margin: 0px 20px 0px 20px;
}
.main_content{
	height: 650px;
	background-color:#f5f6f7;
	text-align: center;
}
.main_content h2{
	font-family:"Roboto", sans-serif;
	letter-spacing:3px;
	margin:-5px;
	padding: 59px 0 34px 0;
}
.tab1{
	line-height: 1.5;
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 5px;
   color: #373737; 
   font-size:16px;
	margin: 0px 108px 0px 113px;
}
.tab2{
	line-height: 1.5;
   font-family: 'Roboto', sans-serif; 
	letter-spacing: 5px;
   color: #373737;
	font-size:16px;
	margin: 0px 108px 40px 113px;
}
.click{
	width: 192px;
	height: 51px;
	background: #16A085;
   color: #FFFFFF;
	font-size: 12;
	font-family: 'MyriadProRegular', sans-serif;
	letter-spacing: 2px;
	border-radius:4px;
}
.footer{
	height: 110px;
	font-size: 16px;
	text-align: right;
}
div.footer span{
	vertical-align: -45px;
	padding-right: 104px;
	font-family: 'Roboto', sans-serif; 
	letter-spacing: 3px;
}


