body{
   background: url(../img/background.png)no-repeat fixed;
   background-size:cover;
}
.clearfix:after{
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.main_container{
   width: 1060px;
   margin: 45px auto 0;
}
.navbar{
   margin-bottom: 45px;
}
.logo{
   background: url(../img/logo@1X.png) no-repeat;
   text-decoration: none;
   float:left;
   color:#ffffff;
}
.logo:hover{
   color: rgb(242, 101, 34);
   background: url(../img/logo@2X.png) no-repeat;
   transition: 0.4s;
}
.logo_text_title_1{
   margin:-6px 0 0 59px;
   font-size: 29px;
   vertical-align: top;
   font-family: 'Verdana', sans-serif;
   font-weight: bold;
}
.logo_text_title_2{
   font-size: 18px;
   margin: 0 0 0 59px;
   font-family: 'Verdana', sans-serif;
   font-weight: bold;
}
.contacts{
   float: right;
   text-align: right;
}
.contacts_text{
   color:#ffffff;
   font-size: 18px;
   font-family: 'Verdana', sans-serif;
   margin: 0;
}
.tour{
   float: left;
   margin-right: 63px;
   margin-bottom: 40px;
   text-align: center;
   position: relative;
   text-decoration: none;
}
.tour:hover .tour_name{
   color: rgb(242, 101, 34);
}
.tour:nth-child(3n){
   margin-right: 0;
}
.hover{
   /* padding: 10px 0; */
   position: absolute;
   box-sizing: border-box;
   bottom: 40px;
   width: 100%;
   height: 0;
   background-color: rgba(242, 101, 34, 1);
   overflow: hidden;
   transition: 0.7s;
}
.tour:hover .hover{
   height: 63px;
   color: rgb(242, 101, 34);
}
.tour_name{
   width: 100%;
   margin-top: 22px;
   color: white;
   display: block;
   font-size: 18px;
   font-weight: 400;
   text-align: center;
   font-family: 'Verdana', sans-serif;
}
.price{
   float: left;
   /* padding-top: 20px; */
}
.price p{
   font-size: 10px;
   font-weight: 400;
   margin-left: 10px;
   margin-top: 16px;
   margin-bottom: 0;
   color: white;
   font-family: 'Verdana', sans-serif;
}
.price p:nth-child(2n){
   font-size: 20px;
   font-weight: 400;
   line-height: 21px;
   text-align: left;
   margin-top: 0;
   margin-left: 20px;
   color: white; 
}
.details{
   margin-bottom: 17px;
   float: right;
}
.details p{
   margin-right: 15px;
   margin-top: 28px;
   color: white;
   font-size: 14px;
   font-weight: 400;
   font-family: 'Verdana', sans-serif;
}
.details p::after{
   content: "\232A";
   margin-left: 15px;
   font-size: 18px;
}
.tour_img{
   border-top: 2px solid transparent;
   border-right: 2px outset transparent;
   border-left: 2px inset transparent;
   box-shadow: 0 20px 25px 0 black;
   -moz-border-image: -moz-linear-gradient(top, #dddddd 0%, #050e00 100%);
   -webkit-border-image: -webkit-linear-gradient(top, #dddddd 0%, #050e00 100%);
   border-image-slice: 1;
}
.hover:hover{
   background-color: rgb(240, 16, 46);
   transition: 0.4s;
}
.footer{
   margin:0 auto;
   text-align: center;
   color: white;
   font-size: 12px;
   font-family: 'Verdana', sans-serif;
}