/* - N A V B A R - */

.navbar{
   width: 100%;
   height: 70px;
   background-color:#1d2124;
   display: flex;
   color:white;
}
.logo{
   width: 70px;
   padding: 22px 0;
   background-color:#1a1d20;
}
div.logo img{
   margin-left:21px;
   display:inline-flex;
}
.logo_title{
   margin: auto 6px;
   font-size: 22px;
   text-decoration: none;
   color:white;
   font-weight:bold;
}
.nav{
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.main{
   padding:0 18px;
   color:white;
   border:1px solid rgba(255, 0, 0, 0);
   font-size: 15px;
   text-decoration: none;
}
.main:hover{
   border-left:1px solid #f2f2f2;
   border-right: 1px solid #f2f2f2;
}
li.main a{
   text-decoration: none;
   color:white;
}
.fa{
   color:white;
   margin-left: 26px;
   font-size: 17px;
   padding-top: 5px;
}

/* - H E A D E R - */

.header{
   height: 375px;
   background:url(../img/html_css_homework_homework6_img_header-bg.jpeg) no-repeat bottom fixed;
   background-size: cover;
   text-align: center;
   display: flex;
   flex-direction:column;
   justify-content: center;
}
.title_header{
   color:white;
   font-size:27px;
   margin-bottom: 44px;
}
.buttons{
   display:flex;
   justify-content:center;
}
.btn{
   width: 170px;
   height: 55px;
   color:white;
   border:none;
   border-radius:4px;
   margin:0 10px;
   font-size:18px; 
}
.bg_green{
   background-color:#89ca62;
}
.bg_aqua{
   background-color:#14b9d5;
}

/* - M O S T   P O P U L A R   P O S T S - */

.most_popular_posts{
   background-color:#f2f2f2;
   display: flex;
   flex-direction: column;
   align-items: center;
}
div.most_popular_posts span{
   margin: 50px 0;
   color:#18b4cf;
   font-size: 27px;
   text-transform: uppercase;
   font-weight: bold;
}
.post_gallery{
   height: 860px;
   margin:0 auto;
   display: flex;
   flex-flow: column wrap;
   align-content: center;
}
.post{
   text-align: center;
   background-color:#ffffff;
   margin:0 15px 30px;
}
.post_title{
   padding: 20px 0;
   font-size: 18px;
}

/* - O U R   C L I E N T S - */

.container_clients{
   height: 590px;
   background: url(../img/html_css_homework_homework6_img_parallax-bg.jpeg) no-repeat bottom fixed;
   background-size: cover;
   display: grid;
   justify-content: center;
   align-content:center;
   color:#ffff;
}
.our_clients{
   font-size: 32px;
   text-transform: uppercase;
   margin:0 auto;
   font-weight: bold;
}
.line{
   width: 60px;
   height: 3px;
   background-color:#169cb4;
   margin:55px auto;
}
.brands{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-items: center;
   align-items: center;
}

/* - T O P   R A T E D - */

.container_top_rated{
   background-color:#ffff;
   display: grid;
   align-items: center;
}
div.container_top_rated span{
   font-size: 27px;
   color:#169cb4;
   margin:50px auto;
   font-weight: bold;
}
.gallery{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}
.img-fluid {
   max-width: 100%;
   height: auto;
}
.hot_news{
   height: 1630px;
   text-align: center;
}
div.hot_news span{
   display: inline-block;
   font-size: 27px;
   color:#169cb4;
   margin:50px auto;
   font-weight: bold;
}
.container_hot_news{
   width: 1167px;
   margin: 0 auto;
   display: grid;
   grid-row-gap:35px;
   grid-column-gap: 43px;
   align-content:baseline;
   grid-template-areas: 
         "a_1 a_1 a_1 a_2"
         "a_3 a_3 a_4 a_4"
         "a_5 a_5 a_6 a_6"
         "a_7 a_8 a_8 a_8"
}
.a_1{width: 856px;
   background-color:#f9f7f7;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-area: a_1;
}
.title_card{
   margin:0 0 22px;
   font-size: 18px;
   font-family: "OpenSans", sans-serif;
   font-weight:bold;
}
.text_card{
   padding:41px 24px 30px 20px;
   text-align: right;
   font-size:14px;
}
.card_text{
   line-height: 1.5;
   margin:0;
}
.text_card_bottom{
   padding:20px 27px 21px 20px;
   text-align: right;
   font-size:14px;
}
.a_2{
   width: 277px;
   background-color:#f9f7f7;
   grid-area: a_2;
}
.a_3{
   width: 554px;
   background-color:#f9f7f7;
   grid-area: a_3;
}
.a_4{
   width: 554px;
   background-color:#f9f7f7;
   grid-area: a_4;
   justify-self: right;
}
.a_5{
   width: 554px;
   background-color:#f9f7f7;
   grid-area: a_5;
}
.a_6{
   width: 554px;
   background-color:#f9f7f7;
   grid-area: a_6;
   justify-self: right;
}
.a_7{
   width: 277px;
   background-color:#f9f7f7;
   grid-area: a_7;
}
.a_8{
   background-color:#f9f7f7;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-area: a_8;
}
.footer{
   height: 80px;
   background-color:#1d2124;
}
.foot_container{
   padding-top:34px;
   width: 1175px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.foot_container div{
   justify-self: right;
}
.text_icon{
   vertical-align: 8px;
}
