@font-face{
   font-family:"MyriadPro";
   src: url(../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}
.container{
   width: 1280px;
   margin:0 auto;
   padding-right: 30px;
   padding-left: 30px;
}
.logo{
   display: inline-block;
   text-decoration: none;
   font-size: 80px;
   color: #000;
   font-family: 'MyriadPro', sans-serif;
   margin-top: 50px;
}
.color_text{
   color:#4bcaff;
}
.header_menu{
   margin-top: 51px;
   background-color: #35444f;
   text-align: center;
}
.header_menu_item{
   display: inline-block;
}
.header_text{
   display: inline-block;
   text-decoration: none;
   color: #ffffff;
   font-size: 24px;
   font-family: 'MyriadPro', sans-serif;
   padding: 26px 40px;
   border-right: 1px solid rgba(0, 0, 0, 0);
   border-left: 1px solid rgba(0, 0, 0, 0);
}
.header_text:hover{
   background-color: #222f3a;
   border-right: 1px solid #818181;
   border-left: 1px solid #818181;
}
.left_side_menu{
   width: 344px;
   border: 1px solid #000000;
   display: inline-block;
   margin: 0;
   padding: 0;
   vertical-align: 135px;
}
.l_side_menu_item{
   display: block;
   list-style-type: none;
}
.item_text{
   display: block;
   padding: 28px 44px;
   text-decoration: none;
   font-size: 30px;
   font-family: 'MyriadPro', sans-serif;
   color:#495863;
}
.item_text:hover{
   padding: 28px 0 28px 69px;
   background-color: #dbdbdb;
   color:#000000;
   transition: 0.3s;
}
.img_section{
   text-align: center;
   width: 882px;
   height: 529px;
   border: 1px solid #000000;
   display: inline-block;
   margin-left: 46px;
   margin-top: 50px;
}
.content_img{
   margin: 74px auto;
}
.img_section:hover .content_img{
   transform: scale(1.3);
   transition: 0.5s;
}
.text_section{
   margin-top: 25px;
   padding: 0 40px 0 424px;
}
.text_section_1{
   font-size: 18px;
   font-family: 'MyriadPro', sans-serif;
   text-align: justify;
}
.text_section_2{
   margin-top: 30px;
   font-size: 18px;
   font-family: 'MyriadPro', sans-serif;
   text-align: justify;
}
.footer{
   background-color: #b4b7ba;
   margin-bottom: 30px;
   margin-top: 50px;
}
.footer_menu{
   display: inline-block;
}
.footer_menu_item{
   display: inline-block;
   padding: 20px 8px;
}
.foot_item_text{
   text-decoration: none;
   border:1px solid rgba(0, 0, 0, 0);
   font-size: 28px;
   font-family: 'MyriadPro', sans-serif;
   color:#000000;
}
.foot_item_text:hover{
   color:#3181a6;
   border-bottom:1px solid #3181a6;
}
.copyright{
   display: inline-block;
   margin-left: 218px;
   font-size: 24px;
   font-family: 'MyriadPro', sans-serif;
}
 












