body{
   font-family:Verdana, sans-serif;
}
.container{
   background: url(../img/rana-sawalha-364253-unsplash@1X.png) no-repeat;
   background-size: cover;
}

/* - H E A D E R - */

.header{
   padding: 15px 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color:rgba(0, 0, 0, 0.5);
}
.title{
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
}
.title:hover{
   color:#3cb878;
   transition: 0.6s;
}
.nav{
   display: flex;
   align-items: center;
}
.icon_calendar{
   width: 19px; 
   height: 19px;
   background: url(../img/css_sprites.png) -106px -10px;
   margin-right: 28px;
}
.icon_calendar:hover{
   background: url(../img/css_sprites.png) -106px -49px;
   transition: 0.6s;
}
.icon_forum{
   width: 28px; 
   height: 20px;
   background: url(../img/css_sprites.png) -10px -10px;
   margin-right: 28px;
}
.icon_forum:hover{
   background: url(../img/css_sprites.png) -58px -10px;
   transition: 0.6s;
}
.icon_journay{
   width: 20px; 
   height: 20px;
   background: url(../img/css_sprites.png) -10px -50px;
}
.icon_journay:hover{
   background: url(../img/css_sprites.png) -50px -50px;
   transition: 0.6s;
}
.nav_text::before{
   content:"";
   display: inline-block;
   height: 19px;
   width: 3px;
   background-color: #312f2f;
   margin-right: 24px;
   vertical-align: -4px;
}
.nav_text{
   color:white;
   margin-left: 24px;
   font-size:14px;
}
.login{
   display: inline-block;
   font-size:14px;
   color:#3cb878;
   text-decoration: none;
   border-bottom:1px solid rgba(0, 0, 0, 0);
}
.login:hover{
   border-bottom:1px solid;
}
.sign_in{
   display: inline-block;
   color:#3cb878;
   text-decoration: none;
}
.sign_in:hover{
   border-bottom:1px solid;
}

/* - S I G N  U P  F O R M - */


.main_container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: calc(100vh - 53px);
}
.form_box{
   padding: 30px 60px ;
   background-color:white;
   border-radius: 20px;
   position: relative;
   box-shadow: 0 20px 25px 0 black;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.green_square{
   width: 18px;
   height: 18px;
   background-color:#3cb878;
   position: absolute;
   top:32px;
   left: 0;
}
.sign_up_log_in{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}
.logo_name{
   font-size:20px;
   color:#434343;
}
.logo_login{
   font-size:14px;
   text-decoration: none;
   color:#3cb878;
}
.logo_login:hover{
   border-bottom:1px solid;
}
.btn{
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 30px;
}
.facebook{
   width: 157px;
   height: 46px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   border-radius:4px;
   background-color:#264b96;
}
.divider{
   width: 1px;
   height: 28px;
   background-color: #000;
}
.btn_text{
   font-size:16px;
   text-decoration: none;
   color:white;
}
.facebook:hover{
   background-color:#17387c;
   transition: 0.5s;
}
.google{
   width: 157px;
   height: 46px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   border-radius:4px;
   background-color:#c3412c;
}
.google:hover{
   background-color:#9b1f0c;
   transition: 0.5s;
}
.or{
   font-size: 14px;
   font-family: Verdana, sans-serif;
   color:#848484;
   margin: 0 auto 20px;
}
.or::before{
   content:"";
   display: inline-block;
   width: 135px;
   height: 1px;
   background-color: #eaeaea;
   vertical-align: 4px;
   margin-right: 20px;
}
.or::after{
   content:"";
   display: inline-block;
   width: 135px;
   height: 1px;
   background-color: #eaeaea;
   vertical-align: 4px;
   margin-left: 20px;
}
.input_first{
   display: flex;
   flex-direction: column;
}
.first_name, .last_name, .email, .choose_password, .confirm_password{
   width: 322px;
   height: 46px;
   font-size:14px;
   border-radius:6px;
   border:1px solid rgba(226, 215, 215, 0.5);
   outline: none;
   margin-bottom: 9px;
   padding-left: 17px;
   box-sizing: border-box;
}
.first_name:focus{ 
   box-shadow: 1px 7px 15px rgb(189, 189, 189);
   outline: none;
   transition: 0.3s;
   border:1px solid rgba(226, 215, 215, 0)
}
.last_name:focus{
   box-shadow: 1px 7px 15px rgb(189, 189, 189);
   outline: none;
   transition: 0.3s;
   border:1px solid rgba(226, 215, 215, 0)
}
.email:focus{
   box-shadow: 1px 7px 15px rgb(189, 189, 189);
   outline: none;
   transition: 0.3s;
   border:1px solid rgba(226, 215, 215, 0)
}
.choose_password:focus{
   box-shadow: 1px 7px 15px rgb(189, 189, 189);
   outline: none;
   transition: 0.3s;
   border:1px solid rgba(226, 215, 215, 0)
}
.confirm_password:focus{
   box-shadow: 1px 7px 15px rgb(189, 189, 189);
   outline: none;
   transition: 0.3s;
   border:1px solid rgba(226, 215, 215, 0)
}
.checkbox{
   width: 322px;
   height:31px;
   padding-top: 15px;
   margin-bottom: 25px;
}
.checkbox [type="checkbox"] {
   -webkit-appearance: none;
   width: 20px;
   height: 20px;
   border: 1px solid #f1f1f1;
   border-radius:4px;  
}
.checkbox [type="checkbox"]:hover{
   background-color:rgb(223, 221, 221);
   transition: 0.4s;
}
.checkbox [type="checkbox"]:checked{
   content: url(../img/checkbox@1X.png);
   padding:2px;
}
.text_checkbox{
   font-size: 14px;
   color: #434343;
   vertical-align: 4px;
   padding-left:4px;
}
.checkbox_a{
   text-decoration: none;
   color:#3cb878;
}
.checkbox_a:hover{
   border-bottom:1px solid;
}
.button{
   width: 320px;
   height: 46px;
   color:white;
   background-color:#3cb878;
   font-size: 16px;
   text-align: center;
   border-radius:4px;
   border-style: none;
}
.button:hover{
   background-color:#0e7e44;
   transition: 0.5s;
}



