.btn-wrapper{
   height: 60vh;
   display: flex;
   align-items: center;
   padding-top: 100px;
   flex-wrap: wrap;
   justify-content: space-around;
}
.btn{
   border: none;
   border-radius: 20px;
   min-width: 120px;
   padding: 7px;
   color: #fff;
   font-size: 14px;
   background-color: #33333a;
   cursor: pointer;
}
.btn.active {
   background-color: #2E82A7;
}
.btn:focus{
   outline: none;
}
