@font-face{
   font-family:"arimo-regular";
   src: url(../fonts/arimo/arimo-regular.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
   font-family:"arimo-bold";
   src: url(../fonts/arimo/arimo-bold.ttf) format('truetype');
   font-weight: bold;
   font-style: normal;
}
table{
   margin: 0 auto;
   background-color: #f2f2f2;
   border-collapse: collapse;
}
.container{
   background:#3a4965;
   height: 100vh;
   padding:20px 0 25px 0;
}
table, tr, td{
   text-align: center;
   font-family: 'arimo-regular', sans-serif;
   color:rgba(72, 72, 72, 255);
}
.section_1_1{
   width:198px;
   height:113px;
   background:#fafafa;
}
.fa{
   font-size: 24px;
   margin-bottom: 5px;
}
tr.section_1 td:nth-child(n+2):nth-child(even){
   width: 157px;
   background:#e3e3e3;
   font-size: 20px;
   font-family: "arimo-bold", sans-serif;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
tr.section_1 td:nth-child(n+3):nth-child(odd){
   width: 157px;
   background:#f2f2f2;
   font-size: 20px;
   font-family: "arimo-bold", sans-serif;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
td.section_1_1 h3{
   margin: 0 0 4px 0;
   font-size: 14px;
   font-family: "arimo-bold", sans-serif;
}
td.section_1_1 h2{
   margin:4px 0 0 0;
   font-size: 20px;
   font-family: "arimo-bold", sans-serif;
}
.section_2_1{
   height: 167px;
   background:#89c331;
   color:white;
   font-family: "arimo-bold", sans-serif;
   position: relative;
}
h1{
   margin: 0;
   font-size: 24px;
}
.big_price{
   font-size: 36px;
   text-align: left;
   margin:11px 0 14px 21px;
}
.small_price{
   font-size: 18px;
   display: inline-block;
   position: absolute;
   top:59px;
   left:61px;
   margin:0;
}
.text_price{
   font-size: 14px;
   display: inline-block;
   position: absolute;
   margin: 0;
   top:69px;
   right: 23px;
}
button{
   width: 144px;
   height: 41px;
   border-radius:7px;
   color:white;
   background:#414141;
   border-style: none;
   box-shadow:inset 0 -20px 0 -14px rgba(0,0,0,0.3);
}
tr.section_2 td:nth-child(n+2):nth-child(even){
   background:#e3e3e3;
   font-size: 16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
tr.section_2 td:nth-child(n+3):nth-child(odd){
   background:#f2f2f2;
   font-size:16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
.section_3_1{
   height: 167px;
   background:#f04a56;
   color:white;
   font-family: "arimo-bold", sans-serif;
   position: relative;
}
tr.section_3 td:nth-child(n+2):nth-child(even){
   background:#e3e3e3;
   font-size: 16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
tr.section_3 td:nth-child(n+3):nth-child(odd){
   background:#f2f2f2;
   font-size: 16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
.section_4_1{
   height: 167px;
   background:#20807c;
   color:white;
   font-family: "arimo-bold", sans-serif;
   position: relative;
}
tr.section_4 td:nth-child(n+2):nth-child(even){
   background:#e3e3e3;
   font-size: 16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
tr.section_4 td:nth-child(n+3):nth-child(odd){
   background:#f2f2f2;
   font-size: 16px;
   box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.27);
   border-top: 1px solid #d4d4d4;
   border-bottom: 1px solid #d4d4d4;
}
button:hover{
   background:rgb(53, 98, 247);
   transition:0.3s;
}





