@font-face{
   font-family:"arimo-regular";
   src: url(../fonts/arimo/arimo-regular.ttf) format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face{
   font-family:"arimo-bold";
   src: url(../fonts/arimo/arimo-bold.ttf) format('truetype');
   font-weight: bold;
   font-style: normal;
}
table{
   margin: 0 auto;
   background-color: #f2f2f2;
   border-collapse: collapse;
}
.container{
   background:#3a4965;
   height: 100vh;
   padding:20px 0 25px 0;
}
table, tr, td{
   border-collapse: collapse;
   text-align: center;
   font-family: 'arimo-regular', sans-serif;
   color:rgba(72, 72, 72, 255);
}
.section_1_1{
   height: 156px;
   width: 310px;
   background:#fafafa;
   position: relative;
   font-family: 'arino-bold', sans-serif;
}
td.section_1_1 h3{
   position: absolute;
   left:88px;
   top:38px;
   font-size: 18px;
}
td.section_1_1 h1{
   display: block;
   padding-top:10px;
   font-size: 30px;
}
.section_1_2{
   height: 70px;
   width: 277px;
   background:#89c331;
   color:white;
   font-size:24px;
   font-family: 'arino-bold', sans-serif;
}
.section_1_3{
   height: 70px;
   width: 279px;
   background:#f04a56;
   color:white;
   font-size: 30px;
   font-family: 'arino-bold', sans-serif;
}
.section_1_4{
   height: 70px;
   width: 277px;
   background:#20807c;
   color:white;
   font-size: 24px;
   font-family: 'arino-bold', sans-serif;
}
.section_2{
   background:#fafafa;
}
tr.section_1 td:nth-child(1),
tr.section_1 td:nth-child(n+1),
tr.section_2 td:nth-child(1),
tr.section_2 td:nth-child(n+1),
tr.section_3 td:nth-child(n+1),
tr.section_4 td:nth-child(n+1),
tr.section_5 td:nth-child(n+1),
tr.section_6 td:nth-child(n+1),
tr.section_7 td:nth-child(n+1),
tr.section_8 td:nth-child(n+1),
tr.section_9 td:nth-child(n+1){
   box-shadow:inset -3px 0 3px -2px rgba(0, 0, 0, 0.27);
}
.price{
   font-size: 60px;
   position: relative;
   text-align: left;
   padding-left:30px;
   font-family: 'arino-bold', sans-serif;
}
td.price p{
   display:inline-block;
   font-size: 24px;
   position: absolute;
   margin: 0;
   top:17px;
   left:132px;
   font-family: 'arino-bold', sans-serif;
}
td.price span{
   font-size: 18px;
   position: absolute;
   right: 30px;
   bottom:20px;
}
.section_3{
   background:#f2f2f2;
   height: 69px;
   font-size: 16px;
   color: #484848;
}
.section_4{
   background:#e3e3e3;
   height: 69px;
   font-size: 16px;
}
.fa{color:rgba(132, 132, 132, 255);
   font-size:24px;
   vertical-align: -2px;
   padding-right: 12px;
}
.section_5{
   background:#f2f2f2;
   height: 69px;
   font-size: 16px;
}
.section_6{
   background:#e3e3e3;
   height: 69px;
   font-size: 16px;
}
.section_7{
   background:#f2f2f2;
   height: 69px;
   font-size: 16px;
}
.section_8{
   background:#e3e3e3;
   height: 69px;
   font-size: 16px;
}
.section_9{
   background:#eeeeee;
   height: 110px;
   font-size: 16px;
}
.section_9_1{
   background:#dddddd;
}
.section_9_3{
   background:#f4f4f4;
}
tfoot button{
   width: 192px;
   height: 49px;
   color:white;
   border-radius:7px;
   box-shadow:inset 0 -20px 0 -14px rgba(0,0,0,0.3);
}
td.section_9_1 button{
   background:#484848;
}
td.section_9_1 button:hover{
   background:rgb(29, 29, 29);
   transition: 0.6s;
}
td.section_9_2 button{
   background:#89c331;
}
td.section_9_2 button:hover{
   background:#293f07;
   transition: 0.6s;
}
td.section_9_3 button{
   background:#f04a56;
}
td.section_9_3 button:hover{
   background:#470909;
   transition: 0.6s;
}
td.section_9_4 button{
   background:#20807c;
}
td.section_9_4 button:hover{
   background:#093130;
   transition: 0.6s;
}



